@import url("https://fonts.googleapis.com/css2?family=General+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-ticker {
  animation: ticker 20s linear infinite;
}

